.idea
/test_local/
sdk.cfg
*.py.bak-*
*.DS_Store

# Environment variables
.env

# Caches and temp dirs
/build/
/dist/
/client_src/dist/
*.pyc
.mypy_cache/
.cache/
/tmp/
coverage_report/
.coverage
*.egg-info/
test_local
